body {
    background-image: url(background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.heading {
    display: flex;
    justify-content: center;
}

h1 {
   font-size: 60px;
   background-color: #f2e9e4;
   opacity: 0.7; 
   padding: 20px;
   border: 3px solid black;
   font-family: 'Satisfy', cursive;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.christmas {
   background-color: #f2e9e4;
   opacity: 0.7;
   height: 300px;
   width: 200px;
   margin-top: 50px;
   border: 3px solid black;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: 'Satisfy', cursive;  
    font-size: 30px;
}

.days, .hours, .minutes, .seconds {
    font-family: 'Satisfy', cursive;  
    font-size: 40px;
}

.red {
    font-size: 60px;
    border: none;
    color: red;
}

button {
    margin-left: 100px;
    border: none;
}

.music {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.forH6 {
    display: flex; 
    align-items: center; 
    align-self: center; 
    justify-content: center; 
    width: auto;
}

h6{
    font-family: 'Satisfy', cursive;  
    font-size: 15px; 
    background-color: #f2e9e4;
    opacity: 0.9;
    align-self: center;
    width: auto;
    margin-left: 100px;
}

@media all and (max-width: 800px){
    h1 {
        font-size: 40px;
    }

    h6{
        margin-left: 20px;
    }

    .music {
        margin-right: 100px;
    }
}

@media all and (max-width: 500px){
    h1 {
        font-size: 30px;
    }
}
